.widget {
  width: 345px;
  height: 280px;
  padding-top: 100px;
  padding-left: 200px;
}

.change-color {
  width: 148px;
  height: 40px;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
}
